@import "react-datepicker/dist/react-datepicker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 73 100% 53%;
    --primary-foreground: 0 0% 0%;

    --secondary: 201 84% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 201 51% 27%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 216 12% 84%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --dropdown-highlighter: theme("colors.neutral.200");
    --dropdown-text: theme("colors.neutral.700");
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --black: theme("colors.black");
    --dropdown-highlighter: theme("colors.neutral.200");
    --dropdown-selected-highlighter: theme("backgroundColor.neutral.700");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: RigRegular !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-reverse {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.animate-slider {
  animation: slide 0.5s forwards;
  /* border-color: theme("borderColor.primary.500"); */
}

.animate-slider-reverse {
  animation: slide-reverse 0.5s forwards;
  /* border-color: theme("borderColor.primary.500"); */
}

.react-calendar__navigation {
  height: 28px !important;
  line-height: 44px !important;
  margin-bottom: 0px !important;
}
.react-calendar__navigation button {
  min-width: 28px !important;
  height: 28px !important;
  width: 28px !important;
}
.react-calendar__navigation__label:hover,
.react-calendar__navigation__arrow:hover {
  color: var(--colorBrandForegroundOnLightHover) !important;
  background: var(--colorBrandBackgroundInvertedHover) !important;
}
.react-calendar__navigation__label {
  vertical-align: middle !important;
  text-align: center !important;
  margin-bottom: 1em !important;
  line-height: normal !important;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: var(--colorBrandForegroundOnLightHover) !important;
  background: var(--colorBrandBackgroundInvertedHover) !important;
}
.react-calendar__year-view {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.react-calendar__year-view__months {
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
}
.react-calendar__year-view .react-calendar__tile {
  padding: 1.1rem 0.5rem !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--colorBrandBackgroundInvertedHover) !important;
  border-radius: 2px !important;
  color: var(--stroke-accent) !important;
}
.react-calendar__tile--hasActive {
  background: var(--colorBrandBackground) !important;
  color: #ffffff;
  font-weight: 600;
  border-radius: 4px !important;
}

.react-calendar__decade-view {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.react-calendar__decade-view .react-calendar__tile {
  padding: 1rem 0.5rem !important;
}

.react-calendar__century-view {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.react-calendar__century-view .react-calendar__tile {
  padding: 0.75rem 0.25rem !important;
}

.react-international-phone-country-selector-button {
  padding: 0 0.5rem !important;
}

.react-datepicker-wrapper {
  @apply w-full;
}
.react-datepicker__input-container {
  @apply flex items-center justify-between w-full;
}
/* 
.react-datepicker {
  @apply !rounded-md !border !bg-popover !text-popover-foreground !shadow-md !outline-none;
}
.react-datepicker__header {
  @apply !bg-white;
} */
